<div class="hero"></div>

<div class="container">
    <h1>Galería</h1>

    <div class="cards">
        <span *ngFor="let Post of Posts">

            <a *ngIf="Post.media_type=='IMAGE'" [href]="Post.permalink" target="_blank" [ngStyle]="{'background-image': 'url(' + Post.media_url + ')'}">
                <!-- [routerLink]="'/galeria/' + album.name" -->
            </a>

            <video    
            *ngIf="Post.media_type=='VIDEO'" 

            [src]="Post.media_url" 
            type="video/mp4" 
            controls playsinline>
                
            </video>
        </span>
    </div>
</div>