@import '/src/assets/colors';
.header{
    // background: rgba(0,0,0,.4);
    background-color: white;
    max-height: 90px;
    border-bottom: 1px solid;

    .content{
        display: flex;
        justify-content: space-around;
        margin: 0 60px;
        img{
            height: 95px;
        }

        ul.nav{
            display: flex;
            list-style: none;
            gap: 30px;
            align-items: center;

            li{
                text-transform: uppercase;
                -moz-transition: all .3s ease-in;
                -o-transition: all .3s ease-in;
                -webkit-transition: all .3s ease-in;
                transition: all .3s ease-in;
                font-size: 0.9em;
                letter-spacing: 1.4px;
                &:hover{
                    color: $primary;
                    cursor: pointer;
                }
               
            }
        }
    }
} 

.active{
    color: $primary;
}
