<div class="header" [ngClass]="{'navFixed': navFixed}">
    <div class="content">



        <img [ngStyle]="{'visibility': ( navFixed ? 'hidden' : 'visible')}" src="assets/img/logo-filarmonica.png" routerLink="/" />

        <ul class="nav">
        
            <li *ngFor="let item of nav" 
            [routerLink]="item.path" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }"
            >{{item.name}}</li>

            <app-redes-sociales></app-redes-sociales>

        </ul>

        <button class="hamburger hamburger--chop" [ngClass]="{'active': menuMobile}" (click)="menuMobile=!menuMobile" type="button">
            <div class="inner">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </button>

        <div *ngIf="menuMobile" [@menu] class="menu-list">
            <button class="hamburger hamburger--chop" style="margin-left:60%" [ngClass]="{'active': menuMobile}" (click)="menuMobile=!menuMobile" type="button">
                <div class="inner">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </button>
            <ul>
        
                <li *ngFor="let item of nav" 
                [routerLink]="item.path" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="menuMobile=false;"
                >{{item.name}}</li>

                <app-redes-sociales></app-redes-sociales>
            </ul>
        </div>
    </div>
</div>