@import '/src/assets/colors';

@import "~delicious-hamburgers/scss/base";
@import "~delicious-hamburgers/scss/animations/chop";




.header{
    // background: rgba(0,0,0,.4);
    background-color: black;
    height: 80px;

    .content{
        display: flex;
        justify-content: space-around;
        margin: 0 60px;
        height: 80px;
        align-items: center;
        img{
            height: 75px;
            cursor: pointer;
        }

        ul.nav{
            display: flex;
            list-style: none;
            gap: 30px;
            align-items: center;
            color:white;

            li{
                text-transform: uppercase;
                -moz-transition: all .3s ease-in;
                -o-transition: all .3s ease-in;
                -webkit-transition: all .3s ease-in;
                transition: all .3s ease-in;
                font-size: 0.9em;
                letter-spacing: 1.4px;
                &:hover{
                    color: $primary;
                    cursor: pointer;
                }
               
            }
        }
    }
} 

.active{
    color: $primary;
}


button > div > span{
    background-color: white !important;
}



@media only screen and (max-width: 900px){
    .nav{
        display: none !important;
    }

    .menu-list{
        -webkit-tap-highlight-color: transparent;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: rgb(0, 0, 0, 0.95); 
        transition: all 0.3s ease;
        z-index: 10000;
        margin-left: -30px;

        ul{
            color: white;
            list-style: none;
            display: flex;
            list-style: none;
            gap: 30px;
            align-items: center;
            flex-direction: column;
            font-size: 35px;
            margin-left: 0px;
            cursor: pointer;
            padding: 0;
        }

   
    }

    .hamburger.active span.bar {
        background-color: white !important;
    }

    .header .content{
            margin: 0 30px;
            justify-content: space-between;

    }

 
}
@media only screen and (min-width: 900px){
    .hamburger, .menu-list{
        display: none;
    }


    .navFixed{
        background-color: black;
        position: sticky;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1001;
        color: white;
        height: 50px;
        .content{
            height: 55px;
        }

        .active{
            color: white;
        }
    }
  
}
